@font-face{
    font-family: "Product Sans";
    src: url('Recursos/Product\ Sans\ Regular.ttf')
}

body { 
    animation: fadeIn ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
	margin: 0;
	padding : 0;
} 

#screen div.hidden {
    animation: fadeOut ease 0.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
	margin: 0;
    padding : 0;
    display: none;
}

#screen div.shown { 
    animation: fadeIn ease 0.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
	margin: 0;
    padding : 0;
    display: block;
} 

@keyframes fadeIn { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

@keyframes fadeOut { 
    0% { 
        opacity: 1; 
    } 
    100% { 
        opacity: 0; 
     } 
} 

#inicio img {
    display: block;
    height: 60vh;
    margin: 20vh auto;
    user-select: none;
    opacity: .8;
}

#about img {
    display: block;
    height: 40vh;
    margin: 30vh auto;
    user-select: none;
    opacity: .8;
}

#nav {
    position: absolute;
    top: 1vw;
    left: 1vw;
}
#nav a {
    text-decoration: none;
    color: white;
    margin: 15px;
    font-family: 'Product Sans';
    font-size: 20px;
    opacity: .9;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}
#nav a.active {
    font-weight: 700;
}

#nav a.active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    transform: scaleX(1);
  }

#nav a:not(.active):before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

#nav a:not(.active):hover:before {
    visibility: visible;
    transform: scaleX(1);
  }