@font-face{
    font-family: "Product Sans";
    src: url('Recursos/Product\ Sans\ Regular.ttf')
}

@keyframes fadeIn { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

@keyframes fadeOut { 
    0% { 
        opacity: 1; 
    } 
    100% { 
        opacity: 0; 
     } 
} 

body { 
    animation: fadeIn ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
	margin: 0;
	padding : 0;
} 

div.shown { 
    animation: fadeIn ease 0.3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
	margin: 0;
    padding : 0;
    display: block;
} 

div.hiding {
    animation: fadeOut ease 0.3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
	margin: 0;
    padding : 0;
    display: block;
}

div.hidden {
	margin: 0;
    padding : 0;
    display: none;
}

#inicio #iniciologo {
    display: block;
    height: 60vh;
    margin: auto;
    padding: 20vh 0 7vh;
    user-select: none;
    opacity: .8;
}

#inicio p {
    font-size: 30px;
    font-family: 'Product Sans';
    color: white;
    text-align: center;
    opacity: .8;
}

#menu .menutable {
    table-layout: fixed;
    margin: auto;
}

#menu .menutable td {
    width: 16vw;
    padding: 0 3vw 3vw 0;
    vertical-align: top;
}

#menu div.headercontainer {
    padding-bottom: 2vh;
}

#menu .menutable div {
    width: 16vw;
}

#menu .menutable img {
    width: 16vw;
    opacity: .9;
}

#menu p.header {
    font-size: 7vh;
    font-family: 'Product Sans';
    margin: 0;
    padding: 1vh 0;
    font-weight: 700;
    color: white;
    text-align: center;
    opacity: .9;
    text-decoration: underline;
}

#menu p.title {
    font-size: 4vh;
    font-family: 'Product Sans';
    margin: 0;
    padding: 1vh 0;
    font-weight: 700;
    color: white;
    text-align: center;
    opacity: .9;
}

#menu p.price {
    font-size: 3vh;
    font-family: 'Product Sans';
    margin: 0;
    color: white;
    text-align: center;
    opacity: .9;
}

#menu div.drinklist ul {
    font-size: 3vh;
    padding: .5vh;
    font-family: 'Product Sans';
    margin: auto;
    color: white;
    text-align: left;
    opacity: .9;
    display: inline-block;
    list-style-position: inside;
    column-count: 2;
}

#menu #scrolltotop img {
    display: block;
    margin: auto;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
	filter: invert(76%) sepia(0%) saturate(400%) hue-rotate(170deg) brightness(87%) contrast(91%);
}

#menu #scrolltotop img:hover {
	filter: invert(16%) sepia(0%) saturate(0%) hue-rotate(209deg) brightness(93%) contrast(89%)

}

#contact img {
    width: 25vh;
    padding: 3vw 3vw 0;
    opacity: .9;
}

#contact p {
    font-size: 3vh;
    font-family: 'Product Sans';
    color: white;
    text-align: center;
    opacity: .8;
}

#about img {
    display: block;
    height: 40vh;
    margin: auto;
    padding: 10vh 0 3vh;
    user-select: none;
    opacity: .8;
}

#about p {
    font-size: 26px;
    font-family: 'Product Sans';
    color: white;
    margin: 3vh 5vh;
    text-align: center;
    opacity: .8;
}

#about ul {
    font-size: 26px;
    font-family: 'Product Sans';
    color: white;
    margin: 0 0 3vh;
    text-align: left;
    display: inline-block;
    opacity: .8;
    list-style-position: inside;
    padding: 0;
}

#nav {
    position: absolute;
    top: 1vw;
    left: 1vw;
}
#nav a {
    text-decoration: none;
    color: white;
    margin: 15px;
    font-family: 'Product Sans';
    font-size: 20px;
    opacity: .9;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}
#nav a.active {
    font-weight: 700;
}

#nav a.active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    transform: scaleX(1);
  }

#nav a:not(.active):before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

#nav a:not(.active):hover:before {
    visibility: visible;
    transform: scaleX(1);
  }